<h1>Star Rating</h1>
 
<form>
  <fieldset>
    <span class="star-cb-group">
      <input type="radio" id="rating-10" name="rating" value="10" /><label for="rating-10">10</label>
      <input type="radio" id="rating-9" name="rating" value="9" /><label for="rating-9">9</label>
      <input type="radio" id="rating-8" name="rating" value="8" /><label for="rating-8">8</label>
      <input type="radio" id="rating-7" name="rating" value="7" /><label for="rating-7">7</label>
      <input type="radio" id="rating-6" name="rating" value="6" /><label for="rating-6">6</label>
      <input type="radio" id="rating-5" name="rating" value="5" /><label for="rating-5">5</label>
      <input type="radio" id="rating-4" name="rating" value="4" /><label for="rating-4">4</label>
      <input type="radio" id="rating-3" name="rating" value="3" /><label for="rating-3">3</label>
      <input type="radio" id="rating-2" name="rating" value="2" /><label for="rating-2">2</label>
      <input type="radio" id="rating-1" name="rating" value="1" /><label for="rating-1">1</label>
      <input type="radio" id="rating-0" name="rating" value="0" class="star-cb-clear"/><label for="rating-0">0</label>
    </span>
  </fieldset>
</form>

<script>
$(document).ready(function() {
  var logID = 'log',
    log = $('<div id="'+logID+'"></div>');
  $('body').append(log);
    $('[type*="radio"]').change(function () {
      var me = $(this);
      log.html(me.attr('value'));
    });
})
</script>