/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "compass/css3";
 .star-cb-group {
	/* remove inline-block whitespace */
	 font-size: 0;
	/* flip the order so we can use the + and ~ combinators */
	 unicode-bidi: bidi-override;
	 direction: rtl;
	/* the hidden clearer */
}
 .star-cb-group * {
	 font-size: 1rem;
}
 .star-cb-group > input {
	 display: none;
}
 .star-cb-group > input + label {
	/* only enough room for the star */
	 display: inline-block;
	 overflow: hidden;
	 text-indent: 9999px;
	 width: 1em;
	 white-space: nowrap;
	 cursor: pointer;
}
 .star-cb-group > input + label:before {
	 display: inline-block;
	 text-indent: -9999px;
	 content: '\2606';
	 color: #888;
}
 .star-cb-group > input:checked ~ label:before, .star-cb-group > input + label:hover ~ label:before, .star-cb-group > input + label:hover:before {
	 content: '\2605';
	 color: #e52;
	 text-shadow: 0 0 1px #333;
}
 .star-cb-group > .star-cb-clear + label {
	 text-indent: -9999px;
	 width: 0.5em;
	 margin-left: -0.5em;
}
 .star-cb-group > .star-cb-clear + label:before {
	 width: 0.5em;
}
 .star-cb-group:hover > input + label:before {
	 content: '\2606';
	 color: #888;
	 text-shadow: none;
}
 .star-cb-group:hover > input + label:hover ~ label:before, .star-cb-group:hover > input + label:hover:before {
	 content: '\2605';
	 color: #e52;
	 text-shadow: 0 0 1px #333;
}
 /* :root {
	 font-size: 2em;
	 font-family: Helvetica, arial, sans-serif;
}
 body {
	 background: #333;
	 color: #888;
} */
 fieldset {
	 border: 0;
	 width: 10em;
	 border-radius: 1px;
	 margin: 1em auto;
}
 #log {
	 margin: 1em auto;
	 width: 5em;
	 text-align: center;
	 background: transparent;
}
 h1 {
	 text-align: center;
}