   <!--
   <% if alert.present? %>
    <p class="alert"><%= alert %></p>
  <% end %>
  <% if notice.present? %>
    <p class="notice" id="notice"><%= notice %></p>
  <% end %>
  -->

  <% flash.each do |name, message| %>
    <%= content_tag :div, message, class: 'notice' %>
  <% end %>