<header class="flex justify-between items-center h-16 mx-auto w-[90%]">
<div><h2 class="font-bold">Imdbc</h2>
 </div>
<% if user_signed_in?  %>
  <nav class='flex flex-row items-center'><%= current_user.name %>
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "bg-gray-200 px-4 py-3 rounded ml-4" %></nav>
<% else %>
  <nav class='flex flex-row items-center'><%= button_to 'Register', new_user_registration_url, class: "bg-gray-200 px-4 py-3 rounded ml-4"%>
  <%= link_to 'Sign In', new_user_session_url, class: "bg-gray-200 px-4 py-3 rounded ml-4" %></nav>
  
<% end %>
  </header>